#primary{
  padding-block: 1.25rem;
  & div{
    gap: 0.5rem;
  }
  & div:nth-child(2){
    margin-inline: auto;
  }
  & div:nth-child(3){
    justify-self: end;
  }
  & strong{
    font-weight: var(--fw-sbold);
    color: var(--text-color-primary);
  }
}
#secondary{
  white-space: nowrap;
  overflow-x: auto;
  padding-block: 0.875rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  gap: 2rem; 
    & a{
      color: var(--text-color-primary);
      font-size: var(--fs-md);
      
    }
}

@media (width >=80em){
  #secondary{
    justify-content: space-between;
  }
}