/* utility-first*/
.flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.grid{
  display: grid;
}
.grid-flow-col{
  grid-auto-flow: column;
}
.grid-cols-2{
  grid-template-columns:1fr 1fr;
}
.gap-1{
  gap: 1rem;
}
.py-lg{
  padding-block: var(--py-lg);
}
.px-lg{
  padding-inline: var(--px-lg);
}
.text-xl{
  font-size: var(--fs-base);
  line-height: 1.4;
}

.desktop-only{
  display: none;
}
.container{
  --max-width:360px;
  width: min(var(--max-width), 100% - var(--px-lg)* 2);
  margin-inline: auto;
}
img{
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  .container{
    --max-width:80em;
  }
  .desktop-only{
    display: initial;
  }
  .mobile-only{
    display: none;
  }
}